.App{
  height: 100vh;
}
.TableDisplay{
  display: flex;
  justify-content: center;
  height: 100%;
}

.tablediv{
  width: 50%;
  margin-top: 20px;
}

.table{
  height: 40%;
}

.PageButton{
  display:flex;
  justify-content: center;
}